@model List<TicketAttachmentView>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
    <div class="card-body">
        <div class="table-responsive">
            <h5>Attachment List</h5>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="card-header">
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>FileUrl</th>
                        <th>Creator</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model)
                    {
                        <tr>
                            <td>@record.Id</td>
                            <td>@record.Description</td>
                            <td>@record.FileUrl</td>
                            <td>@record.Creator.DisplayName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
 